body{
    height: 100vh;
    width: 98.7vw;
    overflow-y: scroll;
}
@font-face {
    font-family: PoppinsBold;
    src: url("../public/Materiales/Fuentes/Poppins-Bold.ttf");
  }
  @font-face {
    font-family: PoppinsRegular;
    src: url("../public/Materiales/Fuentes/Poppins-Regular.ttf");
  }
.MainPage{
    font-family: PoppinsBold;
    display: grid;
    grid-template-rows: 20% 20% 50% 10%;
    grid-template-columns: 1fr;
    height: 100vh;
}
.NavBar{
    grid-area: 1/1/2/2;
    display: grid;
    grid-template-columns: 25% 55% 20%;
    grid-template-rows: 25vh;
    
}
.Logo{
    grid-area: 1/1/2/2;
    display: flex;
    justify-content: space-evenly;
    margin-top: 8%;
}
.LogoImg{
    height: 50%;
    width: auto;
}
.Name{
    margin-top: 4%;
    margin-right: 12%;
}
.searchDiv{
    margin-top: 6%;
}
.Search{
    width: 80%;
    height: 38%;
    border-radius: 10px;
}
.ProductMain{
    display: grid;
    grid-area: 3/1/4/2;
}
.Footer{
    display: grid;
    grid-area: 4/1/5/2;
    height: 30vh;
}
.ImgFooter{
    grid-area: 3/1/4/2;
    width: 98.7vw;
    height: 30vh;
}